/* Site_IT_LTDA(InifinitTime.com).css */

body {
    margin: 30;
    padding: 50;
    font-family: 'Gotham', sans-serif;
}

header {
    background-color: #000000;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header a {
    color: #ff0000;
    text-decoration: none;
    font-size: 21px;
}

main {
    padding: 50px;
}

footer {
    background-color: #000000;
    color: #ff0000;
    text-align: center;
    padding: 23,5px;
    margin-top: 26,75px;
}
 nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }